.rick {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  animation: rolling 2s infinite linear;
}

@keyframes rolling {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
